<!DOCTYPE html>
<html ng-app="loginApp"> <!-- Declaramos la directiva ng-app para arrancar la aplicación -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> <!-- Importamos el script angular.js -->
  <script>
    var loginApp = angular.module("loginApp", []); <!-- Creamos un módulo llamado loginApp -->
    <!-- Registramos el controlador loginAppCtrl en el módulo loginApp -->
    loginApp.controller("loginAppCtrl", function ($scope){

      <!-- Vinculamos el arreglo users con el ámbito (Scope) de la aplicación -->
      $scope.users = [
        {nombre: '', contrasena: ''}
      ];
      <!-- Vinculamos la función enviar al Scope -->
      $scope.enviar = function (user) {
        $scope.users.push(angular.copy(user));
        delete $scope.user;
      };
    });

  </script>
</head>
<body ng-controller="loginAppCtrl"> <!-- Asociamos el controlador loginAppCtrl a la vista -->

<div class="login"> <!-- Definimos un div con clase login -->

  <form name="form" novalidate> <!-- Definimos un formulario y establecemos que AngularJS lo maneje -->
  <h1>Inicie sesión</h1><br> <!-- Definimos un título y damos un salto de línea -->
  <div class="input"> <!-- Definimos un div con clase input -->
    <input type="text" name="nombreField" placeholder="Nombre de usuario" ng-model="user.nombre" required> <!-- Vinculamos el objeto user con nombre al Scope de la aplicación -->
    <span style="color: red" ng-show="form.nombreField.$dirty && form.nombreField.$invalid || form.nombreField.$touched && form.nombreField.$invalid">Ingrese el nombre de usuario</span> <!-- Verificamos si el campo fue modificado y si es inválido ó si el campo fue interactuado sin llenar de información y si es inválido, de ser así, mostramos un mensaje -->
  </div>
    <br>

  <div class="input"> <!-- Definimos un div con clase input -->
    <input type="password" name="pssField" placeholder="Contraseña" ng-model="user.contrasena" required> <!-- Vinculamos el objeto user con contraseña al Scope de la aplicación -->
    <span style="color: red" ng-show="form.pssField.$dirty && form.pssField.$invalid || form.pssField.$touched && form.pssField.$invalid">Ingrese la contraseña</span> <!-- Verificamos si el campo fue modificado y si es inválido ó si el campo fue interactuado sin llenar de información y si es inválido, de ser así, mostramos un mensaje -->
  </div>
    <br>

  <div class="input"> <!-- Definimos un div con clase input -->
    <input type="submit" name="" value="Iniciar sesión" id="btn" role="link" onclick="window.location='index.html'" ng-click="enviar(user)" ng-disabled="form.$invalid"> <!-- Vinculamos la función enviar con el evento de clic y establecemos que si los datos del form son inválidos que se inhabilite el botón -->
  </div>
    <br>

  <div class="enlaces">
    <a href="#">Olvidé mi contraseña</a>
    <a href="signup.html">Crear cuenta</a>
  </div>
  </form>



</div>

</body>
</html>

